@model HomeVM
@{
    int i = 0;
}
@if (!string.IsNullOrWhiteSpace((string)TempData["Register"]))
{
    <div style="display:none;" id="verifyEmail">
        @TempData["Register"]
    </div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["Verify"]))
{
    <div style="display:none;" id="successVerify">
        @TempData["Verify"]
    </div>
}
<div class="slider">
    @foreach(var item in Model.Sliders)
    {
        <img id="img-@item.Id" src="~/Images/Sliders/@item.Image" alt="Image @item.Id" />
    }
</div>
<div class="navigation-button">
    @foreach (var item in Model.Sliders)
    {
        if (i == 0)
        {
            <span class="dot active" onclick="changeSlide(@item.Id)"></span>
        }
        else
        {
            <span class="dot" onclick="changeSlide(@item.Id)"></span>
        }
        i++;
    }
</div>
<div id="page">
    <div class="seeAll"></div>
    <section class="see-row">
        <div class="seeAll-container">
            <div class="seeAll-columns">
                <div class="seeAll-column">
                    <div class="base-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Owners of salvage-title vehicles will encounter
                                        some unique issues.
                                    </p>
                                    <div class="yellowButton">
                                        <a asp-action="index" asp-controller="shop">
                                            See All Cars
                                            <i class="fa fa-car"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us section">
        <div class="why-us-container kc-row-container kc-container">
            <div class="why-us-columns kc-wrap-columns">
                <div class="why-us-column col-sm-12">
                    <div class="kc-elm kc_row kc_row_inner">
                        <div class="left-why-us">
                            <div class="heading-left">
                                <h2>Why choose us?</h2>
                                <span>
                                    Vivamus gravida magna massa in cursus mi vehicula
                                    at. Nunc sem quam suscipit
                                </span>
                                <div class="line"></div>
                            </div>
                            <div class="service-left">
                                @await Html.PartialAsync("_WhySection", Model.Why)
                            </div>
                        </div>
                        <div class="right-why-us kc_column_inner">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="right-img">
                                    <img src="~/Images/Settings/@Model.Setting.PhotoWhy"
                                         alt="" />
                                    <div class="img-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature-listing section">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">
                <div class="feature-column col-sm-12">
                    <div>
                        <div class="header">
                            <h2>Featured Cars Listing</h2>
                            <span>
                                Vivamus gravida magna massa in cursus mi vehicula at.
                                Nunc sem quam suscipit
                            </span>
                            <div class="dec">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="line-dec"></div>
                        </div>
                        <div class="cars">
                            <div class="cars-container">
                                <div class="car-card col-md-15 col-sm-6">
                                    <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                             class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                             srcset="
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                                "
                                             sizes="(max-width: 310px) 100vw, 310px" />
                                    </a>
                                    <div class="content">
                                        <span class="pricee">
                                            <span class="price">$52,000</span>
                                        </span>
                                        <a href="">
                                            <h2>MERCEDES AMG 6.3</h2>
                                        </a>
                                        <div class="line"></div>
                                        <div class="car-info">
                                            Selvage drinking vinegar roof party bitters
                                            beard wolf...
                                        </div>
                                        <div class="car-detail">
                                            <ul>
                                                <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                                <li><i class="fa fa-car"></i>Sport</li>
                                                <li><i class="fas fa-road"></i>13,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-card col-md-15 col-sm-6">
                                    <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                             class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                             srcset="
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                                "
                                             sizes="(max-width: 310px) 100vw, 310px" />
                                    </a>
                                    <div class="content">
                                        <span class="pricee">
                                            <span class="price">$52,000</span>
                                        </span>
                                        <a href="">
                                            <h2>MERCEDES AMG 6.3</h2>
                                        </a>
                                        <div class="line"></div>
                                        <div class="car-info">
                                            Selvage drinking vinegar roof party bitters
                                            beard wolf...
                                        </div>
                                        <div class="car-detail">
                                            <ul>
                                                <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                                <li><i class="fa fa-car"></i>Sport</li>
                                                <li><i class="fas fa-road"></i>13,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-card col-md-15 col-sm-6">
                                    <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                             class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                             srcset="
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                                "
                                             sizes="(max-width: 310px) 100vw, 310px" />
                                    </a>
                                    <div class="content">
                                        <span class="pricee">
                                            <span class="price">$52,000</span>
                                        </span>
                                        <a href="">
                                            <h2>MERCEDES AMG 6.3</h2>
                                        </a>
                                        <div class="line"></div>
                                        <div class="car-info">
                                            Selvage drinking vinegar roof party bitters
                                            beard wolf...
                                        </div>
                                        <div class="car-detail">
                                            <ul>
                                                <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                                <li><i class="fa fa-car"></i>Sport</li>
                                                <li><i class="fas fa-road"></i>13,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-card col-md-15 col-sm-6">
                                    <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                             class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                             srcset="
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                                "
                                             sizes="(max-width: 310px) 100vw, 310px" />
                                    </a>
                                    <div class="content">
                                        <span class="pricee">
                                            <span class="price">$52,000</span>
                                        </span>
                                        <a href="">
                                            <h2>MERCEDES AMG 6.3</h2>
                                        </a>
                                        <div class="line"></div>
                                        <div class="car-info">
                                            Selvage drinking vinegar roof party bitters
                                            beard wolf...
                                        </div>
                                        <div class="car-detail">
                                            <ul>
                                                <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                                <li><i class="fa fa-car"></i>Sport</li>
                                                <li><i class="fas fa-road"></i>13,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-card col-md-15 col-sm-6">
                                    <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                             class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                             srcset="
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                  http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                                "
                                             sizes="(max-width: 310px) 100vw, 310px" />
                                    </a>
                                    <div class="content">
                                        <span class="pricee">
                                            <span class="price">$52,000</span>
                                        </span>
                                        <a href="">
                                            <h2>MERCEDES AMG 6.3</h2>
                                        </a>
                                        <div class="line"></div>
                                        <div class="car-info">
                                            Selvage drinking vinegar roof party bitters
                                            beard wolf...
                                        </div>
                                        <div class="car-detail">
                                            <ul>
                                                <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                                <li><i class="fa fa-car"></i>Sport</li>
                                                <li><i class="fas fa-road"></i>13,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blogs section">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">
                <div class="blog-column col-sm-12">
                    <div>
                        <div class="header">
                            <h2>Blog News</h2>
                            <span>
                                Vivamus gravida magna massa in cursus mi vehicula at.
                                Nunc sem quam suscipit
                            </span>
                            <div class="dec">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="line-dec"></div>
                        </div>
                        <div class="data">
                            <div class="left-data col-md-6">
                                <div>
                                      @foreach(var item in Model.Blogs.Skip(0).OrderByDescending(x => x.CreatedAt).Take(1))
                                    {
                                        <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">
                                        <img width="570"
                                             height="400"
                                             style="width:100%;height:400px;"
                                             src="~/Images/Blogs/@item.Image"
                                             class="attachment-auction_homeblogonly size-auction_homeblogonly wp-post-image"
                                             />
                                    </a>
                                    <div class="video-content">
                                        <div class="inner-content">
                                                <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">
                                                <i class="fa fa-link"></i>
                                            </a>
                                            <div class="title">
                                                    <a asp-action ="detail" asp-controller="blog" asp-route-id="@item.Id">
                                                    <h2>@item.Title</h2>
                                                </a>
                                                <ul>
                                                        <li>@item.CreatedAt.Day/@item.CreatedAt.Month/@item.CreatedAt.Year</li>
                                                    <li>
                                                        Posted by
                                                            <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">@item.Author</a>
                                                    </li>
                                                    <li style="border:none;">
                                                        <a class="fk_link"
                                                               asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">0 Comments</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="right-data col-md-6">
                                @foreach(var item in Model.Blogs.Skip(0).OrderByDescending(x => x.CreatedAt).Take(2))
                                {
                                    <div class="blog-item">
                                        <div class="up-content">
                                            <ul>
                                                <li>@item.CreatedAt.Day/@item.CreatedAt.Month/@item.CreatedAt.Year</li>
                                                <li style="border:none;">
                                                    Posted by
                                                    <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">@item.Author</a>
                                                </li>
                                            </ul>
                                            <div class="title">
                                                <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">
                                                    <h2>@item.Title</h2>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-content">
                                            @item.Description.Substring(0, 150)...
                                        </div>
                                        <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id">READ MORE</a>
                                    </div>
                                }
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients section">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">
                <div class="client-column col-sm-12">
                    <div>
                        <div class="brands">
                            <div class="carusel-outher">
                                <div class="carusel">
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/JavaScript/home.js"></script>
