@model IEnumerable<Car>
@section Title
    {
    Shop
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Shop</h1>
                <div class="line"></div>
                <span>
                    Find your Car in Auction
                </span>
                <div class="pages">
                    <ul>
                        <li>
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li><i class="fa fa-dot-circle-o"></i></li>
                        <li>
                            <a style="color: #f4c23d;" asp-action="index" asp-controller="shop">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="shop-page section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <div class="main">
                        <div class="feature">
                            <div class="info-text">
                                <p>Showing waiting auction</p>
                                <form method="post" asp-controller="shop" asp-action="index">
                                    <select name="sort" class="sort-car">
                                        <option value="0">Sort</option>
                                        <option value="1">Sort by price: low to high</option>
                                        <option value="2">Sort by price: high to low</option>
                                        <option value="3">Sort by year</option>
                                        <option value="4">Sort by name</option>
                                      
                                    </select>
                                    <div>
                                        <ul>
                                            <li>
                                                <button type="submit"><i class="fa fa-list"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="products">
                            @foreach(var item in Model){
                                <li class="product">
                                    @if (item.StatusId == 2)
                                    {
                                        <i class="fa fa-gavel"></i>
                                    }
                                    <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id">
                                        @foreach (var image in item.CarImages.Where(x => x.isMain))
                                        {
                                            <img style="height:175px;" src="~/Images/Cars/@image.Image" />
                                        }
                                    <div class="content">
                                        <span class="price">$@item.Price</span>
                                        <h4>@item.Model.Name @item.FabricationYear</h4>
                                        <div class="line"></div>
                                            <p style=" word-wrap: break-word;">
                                            @item.Description.Substring(0,40)...
                                        </p>
                                    </div>
                                </a>
                            </li>
                       }
                        </ul>
                        <ul class="pagination">
                            <li><a class=" page-link" asp-controller="shop" asp-action="index" asp-route-page="1">«</a></li>
                            @for (int j = 1; j <= ViewBag.TotalPage; j++)
                            {
                                @if (j == ViewBag.CurrentPage)
                                {
                                    <li class="page-item active"><a class=" page-link" asp-controller="shop" asp-action="index" asp-route-page="@j">@j</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class=" page-link" asp-controller="shop" asp-action="index" asp-route-page="@j">@j</a></li>
                                }
                            }
                            <li><a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@ViewBag.TotalPage">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <form method="post"  asp-controller="shop" asp-action="index">
                <div class="sidebar-widget">
                    <h4>Filter by</h4>
                    <select name="brand" id="brandInput">
                        <option disabled selected>Any Car Brand</option>
                        @foreach (var item in ViewBag.Brands)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="sidebar-widget">
                    <select name="model" id="modelInput">
                        <option disabled selected>Any Model</option>
                    </select>
                </div>
                <div class="sidebar-widget">
                    <select name="minyear" id="date-dropdown" style="width:48%;">
                        <option disabled selected>Min Year:</option>
                    </select>
                    <select name="maxyear" id="date-dropdown1" style="width:48%;">
                        <option disabled selected> Max Year:</option>
                    </select>
                </div>
                <div class="sidebar-widget">
                    <input type="text"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           placeholder="$ Min Price"
                           name="minprice" />
                    <input type="text"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           name="maxprice"
                           placeholder="$ Max Price" />
                    <button type="submit" class="buttonFilter">Filter</button>
                </div>
                <div class="sidebar-widget">
                        <select name="ban">
                        <option disabled selected>Ban</option>
                        @foreach (var item in ViewBag.Bans)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="sidebar-widget">
                        <select name="color" >
                        <option disabled selected>Color</option>
                        @foreach (var item in ViewBag.Colors)
                        {
                                <option value="@item.Id" style="color:@item.Name">&#11044; @item.Name</option>
                        }
                    </select>
                </div>
                <div class="sidebar-widget">
                        <select name ="fuel">
                        <option disabled selected>Fuel</option>
                        @foreach (var item in ViewBag.Fuels)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="video-widget">
                    <div>
                        <img src="../Images/car1.jpg" alt="" />
                        <div class="content">
                                <a href="https://youtube.com/shorts/2QSq9eqNzzE?feature=shared">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="~/JavaScript/spinner.js"></script>
<script>
    const input = document.querySelector("#brandInput");
    const modelInput = document.querySelector("#modelInput");
    const dateDropdown = document.querySelector("#date-dropdown");
    const dateDropdown1 = document.querySelector("#date-dropdown1");
    let currentYear = new Date().getFullYear();
    let earliestYear = 2000;
     href = `/Car/GetAllModel`;
    fetch(href)
        .then(x => x.json())
        .then(x => {
            const elements = x;
            for (let i = 0; i < elements.length; i++) {
                if (elements[i].brandId == input.value) {
                    var opt = document.createElement('option');
                    opt.value = elements[i].id;
                    opt.innerHTML = elements[i].name;
                    modelInput.appendChild(opt);
                }
            }
            input.addEventListener("change", () => {
                modelInput.innerHTML = ""
                var opt = document.createElement('option');
                opt.value = 0;
                opt.innerHTML = "All";
                modelInput.appendChild(opt);
                for (let i = 0; i < elements.length; i++) {
                    if (elements[i].brand.name == input.value) {
                        var opt = document.createElement('option');
                        opt.value = elements[i].id;
                        opt.innerHTML = elements[i].name;
                        modelInput.appendChild(opt);
                    }
                }
            })
        });
    while (currentYear >= earliestYear) {
        let dateOption = document.createElement('option');
        dateOption.text = currentYear;
        dateOption.value = currentYear;
        dateDropdown.add(dateOption);
        currentYear -= 1;
    }
     currentYear = new Date().getFullYear();
    while (currentYear >= earliestYear) {
        let dateOption = document.createElement('option');
        dateOption.text = currentYear;
        dateOption.value = currentYear;
        dateDropdown1.add(dateOption);
        currentYear -= 1;
    }
</script>