@model IEnumerable<Setting>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email:</th>
                <th scope="col">Phone 1:</th>
                <th scope="col">Logo:</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th>@item.Email</th>
                    <th>@item.Phone1</th>
                    <th><img style="width:100px;height:100px" src="~/Images/Settings/@item.Logo" /></th>
                    <td>
                        <a asp-controller="Setting" asp-action="update" asp-route-id="@item.Id">
                            <i class="fas fa-edit text text-primary"></i>
                        </a>
                    </td>
                    <td>
                        <a onclick="if(!confirm('Are you sure?')){return false;}"
                           asp-controller="Setting" asp-action="remove" asp-route-id="@item.Id"
                           class=" delete-item"><i class="fas fa-trash text text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>
