@model IEnumerable<Blog>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name:</th>
                <th scope="col">Author:</th>
                <th scope="col">Blog Photo:</th>
                <th scope="col">Author Photo:</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th>@item.Title</th>
                    <th>@item.Author</th>
                    <th><img style="width:100px;height:100px" src="~/Images/Blogs/@item.Image" /></th>
                    <th><img style="width:100px;height:100px" src="~/Images/Blogs/Authors/@item.AuthorImage" /></th>
                    <td>
                        <a asp-controller="blog" asp-action="update" asp-route-id="@item.Id">
                            <i class="fas fa-edit text text-primary"></i>
                        </a>
                    </td>
                    <td>
                        <a onclick="if(!confirm('Are you sure?')){return false;}"
                           asp-controller="blog" asp-action="remove" asp-route-id="@item.Id"
                           class=" delete-item"><i class="fas fa-trash text text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        <li><a class=" page-link" asp-controller="blog" asp-action="index" asp-route-page="1">«</a></li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            @if (i == ViewBag.CurrentPage)
            {
                <li class="page-item active"><a class=" page-link" asp-controller="blog" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class=" page-link" asp-controller="blog" asp-action="index" asp-route-page="@i">@i</a></li>
            }
        }
        <li><a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@ViewBag.TotalPage">»</a></li>
    </ul>
    <div>
        <a asp-controller="blog" asp-action="create" style="display: block; text-decoration: none; color: white; width: 100%; height: 100%" a>
            <div style="width:100%; " class="btn btn-outline-success">Create Blog </div>
        </a>
    </div>
</div>
